*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.card{
  width: 420px;
  height: 550px;
  background-color: rgb(85, 0,255);
  border-radius: 10px;
}
.top{
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  /* background-color: red; */
  gap: 5px;
  padding-right: 30px;
  padding-left: 30px;
}

input{
  width: 83%;
  height: 100%;
  border-radius: 80px;
  border: none;
  font-size: 25px;
  padding: 10px;
}
button{
  width: 13%;
  height: 100%;
  border: none;
  cursor: pointer;
  border-radius: 80px;
  background-color: white;
}
.mid{
  height: 60%;
  width: 100%;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;

}
.sunHot{
  width: 50%;
  height: 50%;
}
h1{
  font-size: 50px;
  font-weight: 500;
  color: white;
}
.div2{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}